@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

*{ 
    /*全てのタグに対して、margin、paddingを0*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
}

body{
    background-color: #035;
    height: 100%;
    margin: 8px;
    
}

#background{
    background-color: #000;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

/*ヘッダー*/
header{
    background-image: url(./img/darkness.jpeg);
    padding: 12px;
}

.title{
    float: right;
    color: antiquewhite;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 5px;
}

.clear{
    clear: both;
}

/*----リンク----*/
a{
    text-decoration: none;
    color: #9fd;
}

/*--メイン記事--*/
#topImg{
    width: 960px;
    height: auto;
}

main{
    background-image: url(./img/ep_naturalblack.jpeg);
    background-repeat: repeat;
    color: antiquewhite;   
    max-width: 960px;
    margin: 0 auto;
    flex: 1;
}

.text{
    text-align: center;
    padding: 1em;
}

/*====main_skills====*/
.arti_prof{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.arti_prof > figure{
    height: fit-content;
}

.prof_img{
    width: 480px;
    height: auto;
}

.text-skills{
    padding: 1em;
}

/*グラフ*/
#GraphTitle{
    text-align: center;
    margin: 10px 0;
}

#bgGraph{
    width: 70%;
    height: auto;
    margin: 10px auto;
}


/*====pfdaruma_BBS====*/
/*サブタイトル*/
#bbs_post_head{
    text-align: center;
    margin: 5px 0;
}

/*==書き込み欄==*/
/*--bbsPost--*/
#bbs_post{
    display: flex;
    margin-bottom: 1px;
    width: 80vw;
    max-width: 960px;
    border: 2px solid #9fd;
    border-radius: 8px;
    opacity: 0.5;
    transition: 0.3s;
    align-items: center;
    cursor: pointer;
    background-color: rgb(5, 46, 73);
}

#bbs_post:hover{
    opacity: 1.0;
}

#bbs_post_chil{
    display: inherit;
    align-items: center;
}

#buttonMks{
    margin-left: auto;
}

.mkImgs{
    padding: 2px;
}

/*--bbsInputs--*/
#input1{
    background-color: #035; 
}

.ipt{
    margin: 3px;
    padding: 5px 3px;
}

/*本文*/
#mes{
    width: 100%;
    margin: 2px 1px;
}

/*画像・送信*/
.imgFile, .submit{
    cursor: pointer;
    margin: 8px 5px;
    padding: 5px;
    border: 3px solid #cccccc;
    background-color: white;
    color: #000;
}

#sbmOutter{
    margin-top: 3px;
}

.imgFile > input[type="file"]{
    display: none;
}

.imgFile > span{
    display: inline-block;
}

/*==書き込み欄折畳み==*/
.hidden{
    display: none;
}

.inputs{
    width: 80vw;
    max-width: 960px;
    border:  2px solid #9fd;
    border-radius: 8px;
}


/*フッター*/
footer{
    background-image: url(./img/darkness.jpeg);
    width: 100%;
    margin-top: auto;
}

footer > ul{
    display: flex;
    justify-content: center;
}

footer > ul > li{
    margin: 20px 10px;
}

.menu_foot{
    font-weight: bolder;
    transition: 0.3s;
}

.menu_foot:hover{
    opacity: 0.6;
}